<md-toolbar>
    <div class="md-toolbar-tools">
        <p><strong>Post.It</strong></p>
        <md-button ng-click="ctrl.openSidepanel()">
            <md-icon class="mdi mdi-plus-circle"></md-icon>
            New classified
        </md-button>
        <md-button ng-click="showFilter=true">
            <md-icon class="mdi mdi-magnify"></md-icon>
            Filter
        </md-button>
    </div>
</md-toolbar>


<div class="filters" layout="row" layout-align="center" ng-show="showFilter">
    <md-input-container>
        <label>Enter Search Text</label>
        <input type="text" ng-model="categoryFilter">
    </md-input-container>
    <md-input-container>
        <label>Category</label>
        <md-select ng-model="classifiedsFilterText">
            <md-option ng-repeat="category in ctrl.categories" value="{{category}}">
                {{category}}
            </md-option>
        </md-select>
    </md-input-container>
    <div layout="row" style="margin-bottom: 2rem;align-self: center;">
        <md-button style="height: fit-content;" class="md-warn" ng-click="classifiedsFilterText='';categoryFilter=''">
            Clear
        </md-button>
    </div>
</div>
<ui-view></ui-view>


<md-content>
    <classified-card classifieds="ctrl.classifieds" category="categoryFilter" classifieds-filter-text="classifiedsFilterText" class="md-padding" layout="row" layout-wrap></classified-card>
</md-content>